@{
    ViewBag.Title = "Home Page";
}
<style>
/* Makes images fully responsive */


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	width: 100%;
	height: auto;
}
/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
	border-radius: 0px;
}
.carousel-caption {
	position: absolute;
	/* background-color: rgba(0,0,0,.5);
  bottom: 0;
  text-align: left;
  z-index: 10;
    */
	color: #fff;
	display: table;
	left: 21%;
	right: 21%;
	margin: 0 auto;
	height: 100%;
	width: 56%;
}
.carousel-indicators {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 25px;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
.absolute-div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.carousel-caption h1, h2, h3, h4, p {
	vertical-align: middle;
	text-align: left;
	color: #000;
	text-shadow: none;
}
.carousel-caption h1.big {
	margin-top: 10%;
	FONT-FAMILY: "HP Simplified", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 600%;
	color: #000;
	line-height: normal;
}
.carousel-caption h2.light, .carousel-caption h2.big {
	margin-top: 4%;
	FONT-FAMILY: "HP Simplified", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 60px;
	color: #000;
	line-height: normal;
}
.carousel-caption h4.light, .carousel-caption h4.big {
	margin-top: 2%;
	FONT-FAMILY: "HP Simplified", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 36px;
	color: #000;
	line-height: normal;
}
.carousel-caption p.big {
	margin-top: 1%;
	FONT-FAMILY: "HP Simplified", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	color: #000;
}


.blue {
	color: #0096d6 !important;
}
.white {
	color: #FFFFFF !important;
}
.dblue {
	color: #0e4985 !important;
}
.purple {
	color: #6b3a97 !important;
}

img.whiteborder {
	border: 1px solid #666;
}
img.whiteborder:hover {
	border: 1px solid white;
}


</style>

<!--<div class="container" style="width:100%; padding:0; background-color:#666666;  ">
  <div class="row">
    <div class="col-md-12" style="padding:0; ">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" >
          <div class="item active" > <img src="~/Content/img/Background_Welcome2_PS.jpg"  class="img-responsive"  />
            <div class="absolute-div" >
              <div class="carousel-caption" >
                <h1 class="big white" style="font-weight:800; ">Solutions Source </h1>
                <h4 class="light white" style="width:60%">Your trusted source for all Personal System Solutions and Services business content!<br />
                  Access on any device, anywhere and anytime!</h4>
              </div>
            </div>
          </div>
          <div class="item " > <img src="~/Content/img/Background_MobileDevice_PS.jpg"  class="img-responsive"  />
            <div class="absolute-div" >
              <div class="carousel-caption" >
              </div>
            </div>
          </div>
          <div class="item"> <img src="~/Content/img/Background_DaaSle_PS.jpg" class="img-responsive"  />
            <div class="absolute-div" > <a href="#" onClick="GetAssetList('Device as a Service', '1')">
              <div class="carousel-caption"  style="border:0px solid red;" > </div>
              </a> </div>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="container">
      <div class="col-md-8" style="padding:0; ">
        <div id="divHomeNews"></div>
      </div>
      <div class="col-md-4" style="padding-top:40px;" > <a href="https://www.brainshark.com/HPI8001/vu?pi=zFhzU0SjHzOJC4z0&intk=787294717" target="_blank"> <img src="~/Content/img/Tile_News.jpg" width="95%" border="0" class="whiteborder" /></a> </div>
    </div>
  </div>
</div>-->





<section id="Service" class="intro home-section dyd844 dydTrace">

    <div class="container" style="padding:30px 0px;">
        <div class="row">
            <div class="col-md-4"><h3>PS Life Cycle Services</h3></div>
            <div class="col-md-6"><h3>Solutions</h3></div>
            <div class="col-md-2"><h3>Offerings</h3></div>
        </div>

        <div class="row">
            <div class="col-md-4 sm-gutter">
                <div class="lifecyclegroup" style="width:100%;">
                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconDiscover.png" class="lifecycle img-circle" /> Discover &amp; Design  <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=869" dydTraceMark="leftmenu-1_1"><strong>Discover &amp; Design Overview</strong></a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1574" dydTraceMark="leftmenu-1_2">Discover &amp; Assessment Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1575" dydTraceMark="leftmenu-1_3">Solution Design Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=871" dydTraceMark="leftmenu-1_4">Security Advisory Services</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconConfigure.png" class="lifecycle img-circle" /> Configure <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <!--<li class="dropdown-menu-subtitle"><strong>Configure Overview</strong></li>-->
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=646" dydTraceMark="leftmenu-2_1"><strong>Configure Overview</strong></a></li>
                            <LI><A href="SolutionsPCNav.aspx?page=Portfolio&id=667" dydTraceMark="leftmenu-2_2">Image and Application Services</A></LI>
                            <LI><A href="SolutionsPCNav.aspx?page=Portfolio&id=1169" dydTraceMark="leftmenu-2_3">Dynamic Configuration Service</A></LI>
                            <LI><A href="SolutionsPCNav.aspx?page=Portfolio&id=668" dydTraceMark="leftmenu-2_4">Custom System Setting Services</A></LI>
                            <LI><A href="SolutionsPCNav.aspx?page=Portfolio&id=669" dydTraceMark="leftmenu-2_5">Integration and Packaging Services</A></LI>
                            <LI><A href="SolutionsPCNav.aspx?page=Portfolio&id=670" dydTraceMark="leftmenu-2_6">Labeling and Tagging Services</A></LI>
                        </ul>
                    </div>
                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconDeploy.png" class="lifecycle img-circle" /> Deploy <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=647" dydTraceMark="leftmenu-3_1"><strong>Deploy Overview</strong></a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=672" dydTraceMark="leftmenu-3_2">Value-added Logistic Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=673" dydTraceMark="leftmenu-3_3">Installation Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=675" dydTraceMark="leftmenu-3_4">Data Migration Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1573" dydTraceMark="leftmenu-3_5">PC Deployment Project Management Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1101" dydTraceMark="leftmenu-3_6">Custom Deployment Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1512" dydTraceMark="leftmenu-3_7">Ready Deploy and Ready Deploy Plus (APJ only)</a></li>
                        </ul>
                    </div>

                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconOptimize.png" class="lifecycle img-circle" /> Optimize <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=650" dydTraceMark="leftmenu-4_1"><strong>Optimize Overview</strong></a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1569" dydTraceMark="leftmenu-4_2">Premium Remote Support Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1570" dydTraceMark="leftmenu-4_3">Moves, Adds, &amp; Changes</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1467" dydTraceMark="leftmenu-4_4">Account Delivery Management</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1139" dydTraceMark="leftmenu-4_5">Data and Device Security</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=649" dydTraceMark="leftmenu-4_6">Ivanti (originally known as LanDesk)</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1540" dydTraceMark="leftmenu-4_7">Ready Support and Ready Support Plus (APJ)</a></li>
                        </ul>
                    </div>

                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconMaintain.png" class="lifecycle img-circle"> Maintain <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=648" dydTraceMark="leftmenu-5_1"><strong>Maintain Overview</strong></a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1554" dydTraceMark="leftmenu-5_2">Remote Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1552" dydTraceMark="leftmenu-5_3">Return &amp; Repair Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1541" dydTraceMark="leftmenu-5_4">Onsite Repair Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=678" dydTraceMark="leftmenu-5_5">Protection Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1555" dydTraceMark="leftmenu-5_6">Travel Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1560" dydTraceMark="leftmenu-5_7">Cross Border Processes</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1551" dydTraceMark="leftmenu-5_8">Tech Café Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1477" dydTraceMark="leftmenu-5_9">Post Warranty Services</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-submenu">
                        <a href="#" class="btn icon-btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><img src="~/Content/img/IconDispose.png" class="lifecycle img-circle" /> Dispose & Refresh <i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
                        <ul class="dropdown-menu blue-submenu">
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=870" dydTraceMark="leftmenu-6_1"><strong>Dispose Overview</strong></a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1563" dydTraceMark="leftmenu-6_2">De-installation Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1564" dydTraceMark="leftmenu-6_3">Sanitization Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=1565" dydTraceMark="leftmenu-6_4">Recycling Services</a></li>
                            <li><a href="SolutionsPCNav.aspx?page=Portfolio&id=986" dydTraceMark="leftmenu-6_5">Device Refresh Services</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4 sm-gutter"><div class="FeaturedPS"><a href="SolutionsPCNav.aspx?page=Portfolio&id=1041" dydTraceMark="feat-1"><img src="~/Content/img/Feat_HPDaaS.png" class="img-responsive" /></a></div></div>
            <div class="col-md-2 sm-gutter"><div class="FeaturedPS"><a href="SolutionsPCNav.aspx?page=Portfolio&id=666" dydTraceMark="feat-2"><img src="~/Content/img/Feat_Win10.png" class="img-responsive" /></a></div></div>
            <div class="col-md-2 sm-gutter"><div class="OfferingPS"><a href="SolutionsPCNav.aspx?page=Portfolio&id=657" dydTraceMark="feat-3"><img src="~/Content/img/Feat_CarePack.png" class="img-responsive" /></a></div></div>
            <div class="row">
                <div class="col-md-2 no-left-gutter" style="padding-top:10px; padding-left:5px; padding-right:0px !important; "><div class="FeaturedPS"><a href="https://hp.sharepoint.com/teams/MobilitySolutions" target="_blank" dydTraceMark="feat-4"><img src="~/Content/img/Feat_Mobility.png" class="" /></a></div></div>
                <div class="col-md-2 no-left-gutter" style="padding-top:10px; "><div class="OfferingPS"><a href="SolutionsPCNav.aspx?page=Portfolio&id=1572" dydTraceMark="feat-5"><img src="~/Content/img/Feat_Contractual.png" class="" /></a></div></div>
            </div>
        </div>
    </div>




    <div class="container-fluid" style="background-color:#666;">
        <div class="container" style="padding-top:40px; padding-bottom:40px;">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4"><a href="SolutionsPCNav.aspx?page=Portfolio&id=1041" dydTraceMark="tile-1"><img src="~/Content/img/TilePS_1_Apple.jpg" title="DaaS for Apple" class="img-responsive" /></a></div>
                            <div class="col-md-4"><a href="SolutionsPCPage.aspx?type=news&id=69" dydTraceMark="tile-2"><img src="~/Content/img/TilePS_2_Channel.jpg" title="Channel 101" class="img-responsive" /></a></div>
                            <div class="col-md-4"><a href="SolutionsPCPage.aspx?type=wins&id=2009" dydTraceMark="tile-3"><img src="~/Content/img/TilePS_3_Walmart.jpg" title="Feature Win - Walmart" class="img-responsive" /></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4"><a href="SolutionsSSSearch.aspx?page=Wins" dydTraceMark="tile-4"><img src="~/Content/img/TilePS_4_Wins.jpg" title="DaaS for Apple" class="img-responsive" /></a></div>
                            <div class="col-md-4"><a href="SolutionsPCNav.aspx?page=Resources&id=-1" dydTraceMark="tile-5"><img src="~/Content/img/TilePS_5_Resources.jpg" title="Channel 101" class="img-responsive" /></a></div>
                            <div class="col-md-4"><a href="SolutionsPCNav.aspx?page=Training&id=-1" dydTraceMark="tile-6"><img src="~/Content/img/TilePS_6_Training.jpg" title="Feature Win - Walmart" class="img-responsive" /></a></div>
                        </div>
                    </div>
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left pull-left" aria-hidden="true">&nbsp;</i></a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right pull-right" aria-hidden="true">&nbsp;</i></a>
            </div>
        </div>
    </div>






</section>


<div class="container-fluid dydTrace" style="background-color:#444;">
    <div class="container" style="padding-top:20px; padding-bottom:20px;">
        <div class="row">
            <div class="col-md-8">
                <h3 style="color:#FFF">News</h3>
                <div id="divHomeNews"></div>
            </div>
            <div class="col-md-4">
                <h3 style="color:#FFF">Useful Links</h3>
                <ul class="list-unstyled">
                    <li><a href="https://brandcentral.ext.hp.com/" target="_blank" dydTraceMark="usefullink-1"><strong>HP Brand  Central</strong></a></li>
                    <li><a href="http://h20621.www2.hp.com/assethub-resourcecenter/us/en/index.html" target="_blank" dydTraceMark="usefullink-2"><strong>PPS Asset Hub</strong></a></li>
                    <li><a href="https://www.hpsalescentral.com/#/" target="_blank" dydTraceMark="usefullink-3"><strong>HP Sales Central</strong></a></li>
                    <li><a href="http://www8.hp.com/us/en/hp-information/partnerone-program/overview.html" target="_blank" dydTraceMark="usefullink-4"><strong>HP Partner First portal</strong></a></li>
                </ul>		      <h3 style="color:#FFF">External Sites</h3>


                <ul class="list-unstyled">
                    <li><a href="http://www8.hp.com/us/en/services/daas.html?m802=1&tab=1" target="_blank" dydTraceMark="link-1"><strong>DaaS</strong></a></li>
                    <li><a href="http://www8.hp.com/us/en/services/support-services.html" target="_blank" dydTraceMark="link-2"><strong>PS Services</strong> </a></li>
                    <li><a href="http://www8.hp.com/us/en/services/enterprise/configuration.html" target="_blank" dydTraceMark="link-3"><strong>Configuration Services</strong></a></li>
                    <li><a href="http://www8.hp.com/us/en/services/enterprise/deployment.html" target="_blank" dydTraceMark="link-4"><strong>Deployment Services</strong></a></li>
                    <li><a href="http://www8.hp.com/us/en/services/enterprise/care-services.html?jumpid=in_r12012_us/en/shared/device_as_a_service/maintain/learn-more" target="_blank" dydTraceMark="link-5"><strong>Maintain Services</strong></a></li>
                </ul>



            </div>
        </div>
    </div>
</div>

<!--<div id="divSplashTraining" class="col-md-4" style="display:none;"></div>
<div id="divSplashPortfolio" class="col-md-4"  style="display:none;"></div>
<div id="divSplashMI" class="col-md-4"  style="display:none;"></div>
 <div id="divSplashResource" class="col-md-4"  style="display:none;"></div>  -->
 
